@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}



/* Shared style */

.roboto-normal{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primary-btn{
    padding: 10px 20px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.primary-color{
    color: #FF0000;
}


/* Banner section */


.banner{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)), url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 50px auto;
   
}
.banner-container{
    color: #FFFFFF;
    text-align: center;
    padding: 170px 0;
}
.banner-greatings{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-title{
    font-size: 72px;
    font-weight: 800;
}

/* newyear info section */
.newyear-info{
    text-align: center;
    font-family: Inter;
    margin: 120px auto;
}


    
.new-per{
    font-size: 80px;
    font-weight: bolder;
    color: #FF0000;
    margin-bottom: 48px;
}
.newyear-continer .new-sub-title{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}
.newyear-continer .new-title{
    font-size: 48px;
    color: #070211;
    margin-bottom: 50px;
}

/* newyear-2024 section */
.newyear-2024{
    background: linear-gradient(to right,  rgba(17, 16, 16, 1), rgba(255, 255, 255, 0)), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 40px auto;
    
}

.newyear-continers{
    display: flex;
    padding: 68px 120px;
    color: #FFFFFF;
    gap: 40px;
}
.newyear-continers .new-title{
    font-size: 68px;
    margin-bottom: 24px;
    letter-spacing: 5px;
}
.newyear-continers .newyear-discription{
    margin-bottom: 32px;
    line-height: 25px;
    color: rgba(255, 255, 255, .8);
}
.newyear-continers .newer-contant1{
    padding: 85px 0;
}

/* contact info */
.contact{
     
    
}
.contact-info{
     background: linear-gradient(to bottom,  rgb(253, 187, 187), rgba(255, 255, 255, 0));
    width: 1320px;
    height: 400px;
    text-align: center;
    margin: 120px auto;
    padding: 100px auto;
}
.contact .contact-info p{
    font-size: 27px;
    font-weight: 400;
    padding: 95px 0;
    line-height: 40px;
    
}
.contact-info .button2024{
    margin-top: 37px;
}